<nav class="navbar navbar-inverse" ng-controller="topController">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand"><img id="header-logo" alt="logo mes-transports" src="ressources/logo.png"/> MesTransports</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="" id="bs-example-navbar-collapse">
			<ul class="nav navbar-nav navbar-right" ng-controller="AccountController">
				<li class="dropdown" >
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.login}} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#!/agency/account">Compte</a></li>
						<li role="separator" class="divider"></li>
						<li>
							<a href="#!/logout" ng-click="logout()">Déconnexion</a>
						</li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
