<div class="row" ng-controller="NavController">
    <!-- Menu -->   
    <nav class="navbar navbar-default side-menu" role="navigation">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	        <div class="brand-wrapper">
	            <!-- Hamburger -->
	            <button type="button" id="nav-side" class="navbar-toggle" >
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	         </div>
	    </div>
	
	    <!-- Main Menu -->
	    <div class="side-menu-container" id="sideMenu">
	        <ul style="margin:0;" class="nav navbar-nav" id="menu-side">
	            <li id="accueil" ng-class="{active: ($route.current.activetab == 'main') && (data.id==currentAgencyUpdate)}"><a href="#!/"> Accueil</a></li>
	            <li id="parc" ng-class="{active: $route.current.activetab == 'viewVehicules'}"> <a href="#!/add/vehicule"> Parc de Véhicules</a></li>
	            
				<div>
					<li id="agency">
					    <a data-toggle="collapse" ng-click="collapseL1()"> Agences <span class="caret"></span></a>
					    <div id="listAgence" class="panel-collapse collapse">
					        <div class="panel-body">
					            <ul class="nav navbar-nav">
					                <li id="addAgency" ng-class="{active: $route.current.activetab == 'addchildAgency'}"><a href="#!/agency/add/childAgency">Ajouter une sous agence</a></li>
					                
					                <div ng-repeat="(city, agencies) in agencyByCity">
					                	<a data-toggle="collapse"  ng-click="collapseL2(city)"> {{city}} <span class="caret"></span></a>
					                	<div id="{{city}}" class="panel-collapse collapse">
					                		<div class="panel-body">
					                			<ul class="nav navbar-nav">
								        			<!-- Liste des agences pour la ville -->        	
								                	<div ng-repeat="(index,data) in agencies">
								                			<li id="{{city}}-{{data.name}}" ng-class="{active: ($route.current.activetab == 'childAgency')&&((data.id==currentAgencyView)||(data.id==currentAgencyUpdate))}"><a href="#!/agency/view/chagency/{{data.id}}">{{data.name}}</a></li>
								               		</div>
					                </div>
					            </ul>
					        </div>
					    </div>
					</li>
				</div>
	            
	        </ul>
	    </div><!-- /.navbar-collapse -->
	</nav>
</div>
    
    