<h1>Votre panier</h1>

<!-- Table displaying informations concerning the cart -->
<div class="table-responsive">
  <table class="table table-striped">
    <tr>
    	<th>Véhicule</th>
    	<th>Type</th>
    	<th>Dates</th>
    	<th>Prix</th>
    	<th>Action</th>
    </tr>
    <tr ng-repeat="item in displayCart">
    	<td>{{item.vehicle.brand}}</td>
    	<td>{{item.vehicle.type}}</td>
		<td>{{item.startDate | date : 'dd/MM/yyyy HH:mm'}} - {{item.endDate | date : 'dd/MM/yyyy HH:mm'}}</td>
		<td>{{item.totalPrice}}</td>
    	<td>
    		<a href="#!/vehicle/view/{{item.idVehicle}}" title="Détails du véhicule" class="btn btn-default btn-sm">
    			<i class="glyphicon glyphicon-eye-open"></i>
   			</a>
   			<button class="btn btn-danger btn-sm" title="Supprimer du panier" ng-click="removeItemFromCart(item)">
    			<i class="glyphicon glyphicon-remove"></i>
   			</button>
    	</td>
    </tr>
    <tr>
    	<td>Total</td>
    	<td></td>
    	<td></td>
    	<td>{{totalCart()}}€</td>
    	<td></td>
    </tr>
  </table>
</div>

<button ng-show="user && (cart.length > 0)" class="btn btn-success btn-block" data-toggle="modal"
	data-target="#myModal">Valider et payer le panier</button>
	
<a ng-show="!user && (cart.length > 0)" href="#!/login" class="btn btn-success btn-block" >Se connecter pour procéder au paiement</a>

<!-- Modal showing the payment process -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Paiement du panier</h4>
			</div>
			<div class="modal-body">
				<div>
					<h2>Choisir la méthode de paiement</h2>
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default btn-pay active">
							Différé
							<input type="radio" name="btn-pay" id="pay-diff" autocomplete="off" checked>
						</label>
						<label class="btn btn-default btn-pay" disabled>
							Paypal
							<input type="radio" name="btn-pay" id="pay-paypal" autocomplete="off">
						</label>
						<label class="btn btn-default btn-pay" disabled>
							CB
							<input type="radio" name="btn-pay" id="pay-cb" autocomplete="off">
						</label>
					</div>
				</div>

				<div>
					<h2>Choisir le billet</h2>
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default btn-bill active">
							Electronique
							<input type="radio" name="btn-bill" id="bill-elec" autocomplete="off" checked>
						</label>
						<label class="btn btn-default btn-bill" disabled>
							Papier
							<input type="radio" name="btn-bill" id="bill-paper" autocomplete="off">
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-primary" ng-click="payCart()">Confirmer la commande</button>
			</div>
		</div>
	</div>
</div>
