<div class="row">
<div  class="col-sm-4">
<nav>
	<form class="form-horizontal">
	<fieldset>
	
	<!-- Form Name -->
	<legend>Recherche</legend>
	
	<!-- Text input-->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="search_input">Mot-clef</label>  
	  <div class="col-md-7">
	  <input id="search_input" ng-model="form.search.keyword" ng-change="updateFilter()" name="search_input" type="text" placeholder="Rechercher" class="form-control input-md"> 
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="col-md-4 control-label" for="search_input">Dates</label>  
	  <div class="col-md-7 inner-addon left-addon">
	  <i class="glyphicon glyphicon-calendar"></i>
	  <input type="text" name="daterange" class="form-control input-md" />
	  </div>
	</div>
	
	<!-- Select Basic -->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="select_type_vh">Véhicule</label>
	  <div class="col-md-7">
	    <select 
	    	id="select_type_vh"
	    	ng-change="updateType()"
	    	ng-model="form.search.vehicleType" 
	    	name="select_type_vh" 
	    	ng-options="type.id as type.label for type in vehicleTypes" 
	    	class="form-control">
	    </select>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="col-md-4 control-label" for="chk_chara">Caractéristiques</label>
	  <div class="col-md-7">
	  <div class="checkbox" ng-repeat="chara in vehicleCharas">
	    <label for="chk_chara-{{chara.id}}">
	      <input type="checkbox" name="chk_chara" id="chk_chara-{{chara.id}}" value="{{chara.id}}">
	      {{chara.label}}
	    </label>
		</div>
	  </div>
	</div>
	
	</fieldset>
	</form>

</nav>
</div>

<div class="col-sm-8">
<div class="row">
 <div class="col-sm-6 col-md-4" ng-repeat="vehicle in searchFiltered">
   <div class="thumbnail">
     <img src="" alt="" width=200 height=200>
     <div class="caption">
       <h3>{{vehicle.brand}}<small> {{getVehicleType(vehicle.type).label}}</small></h3>
       <p>{{vehicle.price}}</p>
	</div>
       <p>
       	<a href="#!/vehicle/view/{{vehicle.id}}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-eye-open"></span> Détails</a>
       	<a href="#" class="btn btn-success" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Ajouter au panier</a></p>
     </div>
   </div>
 </div>
</div>
</div>