<form ng-show="!user" class="form-horizontal" ng-submit="signin()">
<fieldset>

<!-- Form Name -->
<legend>Inscription</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="signin_firstname">Prénom</label>  
  <div class="col-md-5">
  <input id="signin_firstname" ng-model="form.signin.firstname" name="signin_firstname" type="text" placeholder="John" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="signin_lastname">Nom</label>  
  <div class="col-md-5">
  <input id="signin_lastname" ng-model="form.signin.lastname" name="signin_lastname" type="text" placeholder="Doe" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="signin_login">Login</label>  
  <div class="col-md-5">
  <input id="signin_login" ng-model="form.signin.login" name="signin_login" type="text" placeholder="johndoe" class="form-control input-md" required="">
  <span class="help-block">Choose a login</span>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="signin_mail">Adresse e-mail</label>  
  <div class="col-md-5">
  <input id="signin_mail" ng-model="form.signin.mail" name="signin_mail" type="text" placeholder="johndoe@gmail.com" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="signin_mail2">Confirmer mail</label>  
  <div class="col-md-5">
  <input id="signin_mail2" ng-model="form.signin.mail2" name="signin_mail2" type="text" placeholder="johndoe@gmail.com" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="signin_phone">Numéro de téléphone</label>  
  <div class="col-md-5">
  <input id="signin_phone" ng-model="form.signin.phone" name="signin_phone" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="signin_password">Mot de passe</label>
  <div class="col-md-5">
    <input id="signin_password" ng-model="form.signin.password" name="signin_password" type="password" placeholder="******" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="signin_password2">Confirmer mot de passe</label>
  <div class="col-md-5">
    <input id="signin_password2" ng-model="form.signin.password2" name="signin_password2" type="password" placeholder="******" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="signin_button"></label>
  <div class="col-md-4">
    <button id="signin_button" name="signin_button" class="btn btn-success btn-block">Confirmer l'inscription</button>
  </div>
</div>

</fieldset>
</form>
