<nav class="navbar navbar-inverse" style="margin:0;" ng-controller="topController">
	 <div class="container-fluid">
	 
	  <div>
	  	<a class="navbar-brand" href="#">
	  		<img id="{{logo.id}}" alt="{{logo.alt}}" ng-src="{{logo.src}}" style="max-height: 100%;max-width: 100%;"/> MesTransports
	  	</a>
	  </div>
	  
	  <button ng-click="expand()" type="button" id="nav-top" class="btn navbar-toggle" data-toggle="collapse" data-target="#menu-top" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="caret"></span>
      </button>
	  
	  <div class="collapse navbar-collapse navbar-right" id="menu-top">
		  <ul class="nav navbar-nav" >
		  	<li><a ng-click="changePage('html/connexionPage.html')">Connexion</a></li>
		  	<li><a ng-click="changePage('html/registrationPage.html')">Inscription</a></li>
		  </ul>
	  </div>
	  
	  
	  
	</div> 
</nav> 
