<div style="margin:0;" ng-controller="agencyMainCtrl">

	<div class="row" ng-include="'view/menu/SideMenuAgency.html'"></div>
	
	<div ng-controller="viewVehicules" style="margin-left: 25%;" >
			<div name="myForm">
				
			    <select size="20" name="SelectVehicle" id="SelectVehicle"
			      ng-options="vehicle.name for vehicle in listeVehicules track by vehicle.id"
			      ng-model="selectedVehicule"
			      ng-change="onChange(vehicle.id)"></select>
		  	</div>
		  	
		  	<div ng-show="isVehiculeSelected">
			  {{selectedVehiculeDetails}}
			</div>
		  	
		  	
		  	
			<input class="btn btn-primary col-md-10"  type="button" ng-click="changeAddNewVehicules()" name="New" value="Ajouter un nouveau vehicule" >
	</div>
</div>