<form ng-show="user" class="form-horizontal" ng-submit="updateInfo()">
<fieldset>

<!-- Form Name -->
<legend>Modification d'un utilisateur</legend>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="update_login">Login</label>  
  <div class="col-md-5">
  <input id="update_login" ng-model="form.update.login" name="update_login" type="text" placeholder="johndoe" class="form-control input-md" required="" disabled="">
  <span class="help-block">Ce login vous permet de vous connecter, et ne peut pas être modifié</span>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="update_firstname">Prénom</label>  
  <div class="col-md-5">
  <input id="update_firstname" ng-model="form.update.userFirstName" name="update_firstname" type="text" placeholder="John" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="update_lastname">Nom</label>  
  <div class="col-md-5">
  <input id="update_lastname" ng-model="form.update.userName" name="update_lastname" type="text" placeholder="Doe" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="update_mail">Adresse e-mail</label>  
  <div class="col-md-5">
  <input id="update_mail" ng-model="form.update.mailAddress" name="update_mail" type="text" placeholder="johndoe@gmail.com" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="update_phone">Numéro de téléphone</label>  
  <div class="col-md-5">
  <input id="update_phone" ng-model="form.update.phoneNum" name="update_phone" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Agence">Agence</label>
  <div class="col-md-4">
    <select id="Agence" ng-options="agency.id as agency.label for agency in agencies" name="Agence" class="form-control">
	
    </select>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Status">Status</label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="Status-0">
      <input type="checkbox" name="Status" id="Status-0" value="1">
      Activé
    </label>
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="update_button"></label>
  <div class="col-md-4">
    <button id="update_button" name="update_button" class="btn btn-success btn-block">Sauvegarder les informations</button>
  </div>
</div>


</fieldset>
</form>
