<div class="row">
	<a href="#!/search" class="col-sm-3 btn btn-default">Retour à la
		recherche</a>
	<div class="col-sm-7"></div>
	<a href="#!/cart" class="col-sm-2 btn btn-success">Accès au panier</a>
</div>

<h1>Page de véhicule : {{vehicle.brand}}</h1>

<div>Assurance : {{vehicle.insurance}}</div>
<div>
	Price : {{vehicle.price}}

	<div ng-repeat="chara in vehicle.characteristicList">
		{{chara.idCharacteristic.label}} :
		{{chara.valueCharacteristic}}{{chara.idCharacteristic.unit}}</div>
</div>

<!-- Button trigger modal -->
<button class="btn btn-success" data-toggle="modal"
	data-target="#myModal">
	<i class="glyphicon glyphicon-shopping-cart"></i> Ajouter au panier
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="alert alert-success" ng-show="form.success" role="alert">{{form.success}}</div>
			<div class="alert alert-danger" ng-show="form.error" role="alert">{{form.error}}</div>
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Ajouter au panier</h4>
			</div>
			<div class="modal-body">
				<div class="form-group" ng-controller="SearchController">
					<label class="col-lg-4 control-label" for="search_input">Confirmer
						les dates</label>
					<div class="col-lg-7 inner-addon left-addon">
						<i class="glyphicon glyphicon-calendar"></i> <input type="text"
							name="daterange" class="form-control input-md" />
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
				<button
					ng-click="addToCart(vehicle, user, form.search.start, form.search.end)"
					type="button" class="btn btn-primary">Ajouter au panier</button>
			</div>
		</div>
	</div>
</div>
